# save_db.rs
MML_INPUT_FILE=
MML_DB_HOST=localhost
MML_DB_NAME=imsdb
MML_DB_USER=postgres
MML_DB_PASSWORD=

# sipusers.rs
MML_SIPUSERS_FILE=logfile/agcf/AGCF65_20240506.txt

# eid.rs
MML_LOG_DIR=logfile
MML_EIDS_FILE=logfile/eids.txt

# t001.rs
MML_T001_LOG=logfile/lst_ifcs.txt
